            /* common styles */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
} 

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hide {
    display: none;
}

h1,h2,h3,h4.h5,h6,p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);;
    white-space: nowrap;
    border: 0;
}

button {
    cursor: pointer;
    border-style: none;
}

::after {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;      
}

@media (min-width: 768px) and (max-width: 1157px) {
   .container{
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container{
     max-width: 1158px;
     padding: 0 15px;
   }
 }

            /* header page */

 .header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 320px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.header-logo {
    padding-left: 0;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    /* margin-right: 76px; */
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.icon-menu-stics {
    display: block;
    fill: #2f2f37;
}

.stics-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.stics-button:hover {
    background: none;
}

.mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50);
    transition: 200ms ease-in-out;
}

.mobile-menu.is-open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    margin: 0;
}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
}

.nav-menu-mobile {
    margin-bottom: auto;
}

.close-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: #FFFFFF;
    border-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile.active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-item-mobile {
    display: flex;
    margin-bottom: auto;
}

.nav-list-mobile {
    margin-bottom: auto;
}

.contacts-list-mobile {
    flex-direction: column;
    gap: 24px;
}

.contacts-link-mobile {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts-link-mobile.active {
    color: #4D5AE5;
}

.contacts-item-mobile {
    margin-bottom: 24px;
}

.contacts-item-mobile:last-child {
    margin-bottom: 0;
}

.social-media-title-mobile {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-media-list-mobile {
    display: flex;
    gap: 40px;
}

.social-media-container-mobile {
    margin-top: 48px;
}

.social-media-logo-list-item-mobile {
    width: 40px;
    height: 40px;
}

.social-media-link-mobile {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-logo-mobile {
    fill: #F4F4FD;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .header-container { 
        max-width: 768px;
        align-items: center;
    }

    .icon-menu-stics {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .contacts {
        display: block;
        flex-direction: column;
        gap: 12px;
        margin-left: 121px;
    }

    .nav-link {
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }
    
    .active {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-list:last-child {
        margin-right: 0;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link-mobile {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
                
    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .contacts {
        /* flex-direction: column;
        gap: 12px; */
        font-style: normal;
        margin-left: auto;
    }
                
    .contacts-link {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .nav-item {
        margin-right: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .nav-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
      }

    .nav-header {
        display: flex;
    }

    .contacts-item {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        padding: 0 15px;
    }
                
    .header-container {
        display: flex;
        align-items: center;
        max-width: 1158px;
        margin: 0 auto;
    }
                
    .nav-header {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 76px;
    }
                
    .nav-list {
        display: flex;
        gap: 40px;
    }
                
    .contacts-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link.active::after {
        content: '';
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .active {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-list:last-child {
        margin-right: 0;
    }
                
    .contacts {
        display: flex;
        gap: 40px;
        font-style: normal;
        margin-left: auto;
    }
                
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .nav-item {
        margin-right: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em; 
    }
    
    .icon-menu-stics {
        margin-right: 0;
        padding: auto;
    }
    
    .stics-button {
        display: none;
        background: none;
        border: none;
        width: 24px;
        height: 24px;
    }

    .contacts-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }

    .mobile-menu {
        opacity: 0;
        pointer-events: none;
    }
}

            /* hero section */

.hero-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    min-width: 320px;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office\ 1-desc@1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff; 
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    margin-top: 0;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) and (max-width: 1157px) {
    .hero-section {
        background-color: #2E2F42;
        padding-top: 188px;
        padding-bottom: 188px;
        min-width: 768px;
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office\ 1-desc@1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
                
    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff; 
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;
        margin-top: 0;
    }
                
    .button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border-radius: 4px;
        text-align: center;
        margin: 0 auto;
        padding: 16px 32px;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    button:hover,
    button:focus {
    background-color: #404BBF;
}
}

@media screen and (min-width: 1158px) {
            .hero-section {
        background-color: #2E2F42;
        padding-top: 188px;
        padding-bottom: 188px;
        /*max-width: 1440px;*/
        background-image:  
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office\ 1-desc@1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
                
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff; 
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        margin-top: 0;
    }
                
    .button {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border-radius: 4px;
        margin-top: 48px;
        text-align: center;
        margin: 0 auto;
        padding: 16px 32px;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
                
    button:hover,
    button:focus {
        background-color: #404BBF;
    }
}

            /* business strategy section */

.bs-container {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 320px;
}

.bs-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.bs-logo-container {
    display: none;
}

.strategy-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.bs-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .bs-container {
        padding-top: 96px;
        padding-bottom: 96px;
        min-width: 768px;
    }
    
    .bs-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .bs-item {
        /* min-width: 356px;
        max-height: 120px; */
        flex:  calc( (100% - 24px) / 2);
    }
    
    .bs-logo-container {
        display: none;
    }
    
    .strategy-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: start;
    }
    
    .bs-paragraph {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    } 
}

@media screen and (min-width: 1158px) {
    .strategy-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: start;
    }
                
    .bs-paragraph {
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-size: 16px;
        color: #434455;
        font-weight: 400;
        font-size: 16px;
    }
                
    .bs-item {
        width: calc((100% - 72px) / 4);
        /* max-width: 264px;
        max-height: 224px; */
    }
                
    .bs-container {
        padding-top: 120px;
        padding-bottom: 120px;
        min-width: 1158px;
    }
                
    .bs-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .bs-logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }
}

            /* team section */

.team-part {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-members {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 264px;
    height: 428px;
    text-align: center;
}

.img-picture-team {
    max-width: 100%;
}

.team-member-card {
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.social-media-list-ts {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-media-logo-item {
    width: 40px;
    height: 40px;
}

.social-media-link-ts {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-logo-ts {
    fill: #f4f4fd;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        margin: 0 92px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
        margin: 0;
    }

    .team-part {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .social-media-link-ts:hover,
    .social-media-link-ts:focus {
        background-color: #404bbf;
    }
}

            /* portfolio section */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-widget {
    /*width: calc((100% - 48px));*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-title {
    display: none;
}

.portfolio-list-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-line {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px)  {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }

    .portfolio-widget {
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-widget:hover,
    .portfolio-widget:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-widget {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .overlay {
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
    
    }

    .portfolio-widget:hover .overlay-title { 
        transform: translateX(0);
    }

    .content-wrapper {
        overflow: hidden;
        position: relative;
    }

    .overlay-title {
        display: block;
        background-color: #4D5AE5;
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: 250ms ease-in-out;
        top: 0;
        font-weight: 400;
        color: #F4F4FD;
        padding: 40px 32px;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

            /* footer section */

.footer-page {
    background-color: #2e2f42;
    line-height: 1.5;
    padding-top: 96px;
    padding-bottom: 96px;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    max-width: 264px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.footer-logo.logo {
    text-align: center;
}

.logo {
    display: block;
    text-align: center;
} 

.paragraph-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 100%;
    margin-top: 16px;
}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.social-media-logo-list-item {
    min-width: 40px;
    min-height: 40px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-logo {
    fill: #FFFFFF;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.form-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.label-wrapper {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #FFFFFF;
}

::placeholder {
    color: #8e8f99;
}

.email-input {
    width: 264px;
    height: 40px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    background-color: transparent;
    border-style: none;
    border: 1px solid #8e8f99;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.subscribe-button {
    display: flex;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-style: none;
    min-width: 165px;
}

.subscribe-icon {
    fill: #FFFFFF;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .main-footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: flex-start;
        padding-left: 108px;
    }

    .footer-logo {
        display: inline-block;
        text-align: start;
    } 

    .footer-container {
        max-width: 264px;
        margin-bottom: 72px;
        margin-right: 24px;
    }

    .social-media-container {
        margin-bottom: 104px;
    }

    .social-media-title {
        text-align: start;
    }

    .subscribe-container {
        display: block;
        align-items: start;
    }
    
    .subscribe-title {
        text-align: start;
    }

    .form-subscribe {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1158px) {
    .footer-page {
        background-color: #2e2f42;
        line-height: 1.5;
        padding: 100px 0;
    }

    .footer-container {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .social-media-container {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .main-footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .email-input {
        width: 264px;
        height: 40px;
        padding-top: 8px;
        padding-left: 16px;
        padding-bottom: 8px;
        background-color: transparent;
        border-style: none;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    ::placeholder {
        color: #ffffff;
    }

    .social-media-link:hover,
    .social-media-link:focus {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #31D0AA;
    }

}

            /* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;

}

.modal {
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px; 
    padding-right: 24px; 
    padding-bottom: 24px; 
    padding-left: 24px;
}

.close-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    fill: #FFFFFF;
    border-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    align-items: center;
}

.input-container {
    margin-bottom: 8px;
}

.label-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
    line-height: 1.17;
    display: block;
}

.input-wrapper {
    position: relative;
    margin-bottom: 0;
}

.input-title {
    width: 100%;
    height: 40px;
    border: 1px solid #8E8F99; 
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 34px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.person-icon {
    position: absolute;
    left: 16px;
    fill: #2E2F42;
    top: 50%;
    transform: translateY(-50%);
}

.textarea-container {
    height: 120px;
    margin-bottom: 16px;
    margin-top: 4px;
    position: relative;
}

.comment-area {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-color: #8e8f99;
    padding: 8px 16px;
    height: 120px;
    resize: none;
    outline: transparent;
    transition: 250ms ease-in-out;
    transition-property: border-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-cotainer {
    display: inline-flex;
    margin-bottom: 24px;
    margin-top: 16px;
}

.checkbox {
    position: relative;
}

.agreement-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    line-height: 1.17;
}

::placeholder {
    color: #8E8F99;
}

.checkbox-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #8E8F99;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    /* margin-right: 8px; */
}

input[type="checkbox"]:checked + .agreement-title > .checkbox-form {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.pp-link {
    text-decoration: underline;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.send-button {
    display: block; 
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px; 
    height: 56px; 
    border-style: none;
    background-color: #4D5AE5; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    text-align: center; 
    color:  #FFFFFF; 
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

@media (min-width: 768px) and (max-width: 1157px) {
    .modal {
        min-width: 408px;
    }
}

@media screen and (min-width: 1158px) {
    .main-footer-container {
        max-width: 1236px;
    }

    .footer-logo {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .social-media-title {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .subscribe-title {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .form-subscribe {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .close-button:hover .close-icon { 
        fill: #fff ;
    }
    
    .close-button:focus .close-icon { 
        fill: #fff ;
    }

    .close-button:hover,
    .close-button:focus {   
        border: none;
    }

    .comment-area:focus {
        border-color: #4d5ae5;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-title:focus + .person-icon {
        border-color: #4D5AE5;
        fill: #4D5AE5;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-title:focus {
        border-color: #4d5ae5;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}